/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0c0c0c;
    --light-purple: #F2F0FF;
    --light-grey: #F3F6F9;
    --grey: #7A7A7A;
    --border: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

/* ------------------------------- 2. Typography ----------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: var(--black);
}

h1 , h2 {
    font-size: 46px;
    padding: 16px 0;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
    padding: 12px 0;
    margin: 24px 0;
}

h5 {
    font-size: 32px;
    padding: 12px 0;
}

h6 {
    font-size: 32px;
    line-height: 1.5;
    padding: 12px 0;
}

p {
    margin: 12px 0;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* ------------- 3.1 Reusable -------------*/

.outer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--border) solid black;
}

.inner-content-container {
    border: var(--border) solid green;
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    z-index: 1;
    align-items: center;
}

.line {
    border-bottom: 30px solid white;
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.line2 {
    border-bottom: 30px solid var(--light-grey);
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

img {
    width: 100%;
}

/* ------------- Other -------------- */

a,a:visited,a:link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--purple);
}

nav a,nav a:visited,nav a:link {
    text-decoration: none;
    color: white;
}

button {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 25px 40px;
    margin: 28px 0;
}

button:hover {
    cursor: pointer;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

header {

    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    position: relative;
}

.header-navigation {
    border: var(--border) solid brown;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-navigation ul {
    display: flex;
    list-style-type: none;
    flex-basis: 370px;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
}


.header-content {
    border: var(--border) solid fuchsia;
    margin: 100px 0;
    max-width: 700px;
    text-align: center;
}

.header-image-wrapper {
    border: var(--border) solid firebrick;
}

/* --------------- 4.2 Introduction ------------- */

#intro {
    background-color: white;
    position: relative;
}

.intro-content-container {
    border: var(--border) solid fuchsia;
    font-weight: 900;
    font-size: 32px;
    color: var(--pink);
    margin: 100px 0;
    max-width: 700px;
    text-align: center;
}

.contact-us-link {
    border: var(--border) solid yellowgreen;
    color: var(--black);
    font-size: 22px;
}

/* --------------- 4.3 Case-Studies ------------- */

#case-studies {
    background-color: var(--light-grey);
    position: relative;
}

.case-studies-content-container {
    border: var(--border) solid rebeccapurple;
    flex-basis: 310px;
    flex-grow: 0;
    flex-shrink: 1;
}

.case-studies-content-container img{
    border: var(--border) solid yellowgreen;
    max-width: 100px;
}

.case-studies-article {
    border: var(--border) solid dodgerblue;
    display: flex;
    justify-content: space-between ;
}

.case-studies-article:nth-of-type(even) {
    flex-direction: row-reverse;
}



.case-studies-article-img-wrapper {
    border: var(--border) solid red;
    flex-basis: 60%;
    flex-shrink: 1;
    flex-grow: 0;
}

/* --------------- 4.4 Services ------------- */

#services {
    background-color: white;
    position: relative;
}

/* --------------- 4.5 Contact Us ------------- */

#contact-us {
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    position: relative;
}

/* --------------- 4.6 Footer ------------- */

footer {
    background: linear-gradient(90deg, rgba(72,69,228,1) 0%, rgba(87,34,205,1) 100%);
    position: relative;
}
















